#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#
*.bak
*.swp
*.bak
*.priv
*.private
.DS_Store
*.pem
*.key
*.cert
*.exe
*.out
*.app
*.lib
*.a
.virthualenv
*~
*.d/localhost
aptitude/cache
cmus/autosave
cmus/cache
cmus/*-history
cmus/*.pl
ssh/*
subversion/README.txt
subversion/auth/*
gnupg/secring.gpg
gnupg/pubring.gpg
gnupg/trustdb.gpg
gnupg/gpg-agent.env
gnupg/sshcontrol
gnupg/random*
gnupg/private*
gnupg/*~
mercurial/certs/
mutt/cache/*
mutt/mailboxes.*
mutt/smime/*
mutt/certificates
task/task/*.data
dotsyncrc
bin/scripts
crap/*
private/*
vim/viminfo
vim/swp
vim/backups/*
vim/*~
vim/.netrwhist
vim/beautify.settings
vim/bundle/*

conky/secrets.yml
conky/info.conkyrc
conky/sys.conkyrc
conky/network.conkyrc
conky/weather.conkyrc

zsh/custom/private/*


#Sorry I had to pay for them and so do you
fonts/Pragmatat*
fonts/PragmataPro-B.ttf
fonts/PragmataPro-I.ttf
fonts/PragmataPro-Z.ttf
fonts/PragmataPro.tar.gz
fonts/PragmataPro.ttf
