#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#
*.log
*.bak
*.swp
*.bak
*.priv
*.private
.DS_Store
*.pem
*.gpg
*.key
*.cert
*.exe
*.out
*.app
*.lib
*.a
*.data
.virthualenv
*~
*.d/localhost
aptitude/cache
bin/sub*
cmus/autosave
cmus/cache
cmus/*-history
cmus/*.pl
ssh/*
subversion/README.txt
subversion/auth/*
gnupg/
gnupg/secring.gpg
gnupg/pubring.gpg
gnupg/trustdb.gpg
gnupg/gpg-agent.env
gnupg/sshcontrol
gnupg/random*
gnupg/private*
gnupg/*~
mercurial/certs/
mutt/muttrc
mutt/cache/*
mutt/mailboxes.*
mutt/smime/*
mutt/certificates
task/task/*.data
dotsyncrc
bin/scripts
crap/*
private/*
vim/viminfo
vim/swp
vim/backups/*
vim/*~
vim/.netrwhist
vim/beautify.settings
vim/bundle/*
irssi/away.log
conky/secrets.yml
conky/info.conkyrc
conky/sys.conkyrc
conky/network.conkyrc
conky/weather.conkyrc
zsh/custom/private/*
zsh/oh-my-zsh

#Sorry I had to pay for them and so do you
fonts/Pragmata*
fonts/PragmataPro-B.ttf
fonts/PragmataPro-I.ttf
fonts/PragmataPro-Z.ttf
fonts/PragmataPro.tar.gz
fonts/PragmataPro.ttf

*.sublime-*
