#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Git submodules in this repo
#
# Authors:
#   Ben O'Hara <bohara@gmail.com>
#

[submodule "dotsync"]
	path = dotsync
	url = https://github.com/dotphiles/dotsync.git
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = git@github.com:powerline/fonts.git
[submodule "fonts/Office-Code-Pro"]
	path = fonts/Office-Code-Pro
	url = git@github.com:nathco/Office-Code-Pro.git
[submodule "fonts/FiraCode"]
	path = fonts/FiraCode
	url = git@github.com:tonsky/FiraCode.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
